<!DOCTYPE html>
<html>
<head>
  <title>Mini blog</title>
  <%= stylesheet_link_tag    "mini/blog/application", media: "all" %>
  <%= javascript_include_tag "mini/blog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
